.list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 30px;
  .child {
    flex: 0 0 23%;
    margin: 1%;
    background-color: black;
  }
}

@media only screen and (max-width: 1200px) {
  .list {
    .child {
      flex: 0 0 31%;
      margin: 1%;
    }
  }
}

@media only screen and (max-width: 992px) {
    .list {
    .child {
      flex: 0 0 46%;
      margin: 2%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .list {
    .child {
      flex: 0 0 94%;
      margin: 3%;
    }
  }
}
