.searchBar {
  padding: 20px 0;
  
  .searchInput {
    border: 3px solid gold;
    border-radius: 3px;
    font-size: 24px;
    outline: 0;
    min-width: 420px;
  }
}

@media only screen and (max-width: 768px) {
  .searchInput {
    min-width: auto;
    width: 100%;
      input {
        width: 100%;
      }
  }
}